/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GLOBAL*/
:root {
    --dark-blue--100: #609ED4;
    --dark-blue--200: #356EA9;
    --dark-blue--300: #0A3871;
    --dark-blue--400: #072B61;
    --dark-blue--400-: #052051;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-500: #868E96;
    --gray-400: #495057;
    --gray-500-: #343A40;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--light-blue-100);
}

/*HEADER*/
.header {
    width: 100%;
}

.header__nav {
    display: flex;
    padding-top: 20px;
}

/*MAIN*/
.main {
    width: 100%;
    padding: 10% 15%;
    display: flex;
    gap: 40px;
}

/*MAIN__LEFT*/
.main__left__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__input__containter textarea {
    border: none;
    color: var(--dark-blue--300);
    font-size: 32px;
    font-weight: 400;
    resize: none;
    background-color: var(--light-blue-100);
}

.main__input__containter textarea::placeholder {
    color: var(--dark-blue--300);
}

.main__warning__container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main__warning__container .main__warning__image {
    width: 16px;
    height: 16px;
    background-image: url("../assets/img/exclamation.png");
    background-repeat: no-repeat;
}

.main__warning__container p {
    color: var(--gray-400);
    font-size: 12px;
    font-weight: 400;
}

.main__buttons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main__button {
    width: 328px;
    border-radius: 8px;
    padding: 24px;
    border: solid 2px var(--dark-blue--300);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.main__button__encriptar {
    background-color: var(--dark-blue--300);
    color: white;
}
.main__button__desencriptar {
    color: var(--dark-blue--300);
}


/*MAIN__RIGHT*/

.main__right__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 2px 3px 14px 5px rgb(0, 0, 0, 0.2);
}
.main__right__container textarea {
    border: none;
    color: var(--gray-400);
    font-size: 24px;
    font-weight: 400;
    resize: none;
}

.main__button__copiar {
    color: var(--dark-blue--300);
}


/*FOOTER*/
.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: mediumspringgreen;
    font-weight: 600;
}
